@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format('woff2');
  font-display: swap;
}

.navigation {
  & > a {
    text-decoration: none;
    color: whitesmoke;
    padding: 0.8em 1rem;
    display: inline-block;

    &:hover:not(.active) {
      background-color: #333;
    }
    &.active {
      background-color: skyblue;
    }
  }
}

body {
  background-color: var(--my-color);
}

:root {
  --my-color: #fff;
  /* or any other variables/style */
}
[data-theme='dark'] {
  --my-color: #000;
}

body, html, #__next {
  font-family: "Pretendard", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* 메인 콘텐츠 영역 */
main {
    flex: 1; /* 나머지 공간을 차지 */
    padding: 0rem; /* 패딩 추가 */
}
footer {
  background-color: #333; /* 배경색 설정 */
  color: white; /* 텍스트 색상 설정 */
  padding: 2rem; /* 패딩 설정 */
  text-align: left; /* 텍스트 중앙 정렬 */
  width: 100%; /* 전체 너비 */
  margin-top: auto; /* 아래로 마진을 추가하여 푸터를 아래로 고정 */
}